body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: blueviolet;
}
h1{
    color: blueviolet;
}
.container{
    border: 1px solid gray;
    background-color: white;
    width: 30%;
    border-radius: 7px;
    
}
button{
     background-color: blueviolet;
     color: aliceblue;
     border-radius: 5px;
}