body{
    display: flex;
    justify-content: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: blueviolet;
}
h1{
    color: blueviolet;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1px solid gray;
    background-color: white;
    width: 37%;
    padding: 10px 10px 10px 10px;
    border-radius: 7px;
    align-content: center;
    margin: auto;
    
}
button{
    border: none; /* remove a borda */
    border-radius: 5px;
    padding: 8px 20px; /* ajusta o preenchimento para um visual mais espaçado */
    cursor: pointer; 
    background-color: blueviolet;
    color: aliceblue;
    width: 150px;
}
.campos-container{
    display: flex;
    justify-content: center;
    align-content: flex-start;
}